body{
    background-color: #1B1A55;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    padding: 0px 50px;
    color: white;
}

h1, p{
    text-align: center;
}

p{
    font-size: 40px;
}

header{
    text-align: center;
    font-size: 50px;
}

footer{
    text-align: center;
    position: relative;
}